{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="md:flex">
      <div class="md:w-1/2">
        <form method="post" action="{% url 'other_view' %}">
          {% csrf_token %}
          <label for="resume" class="block text-lg font-semibold mb-2">Your CV/Resume</label>
          <textarea id="resume" name="content" rows="6" class="w-full p-2 border rounded-md"></textarea>

          <label for="desiredRole" class="block text-lg font-semibold mb-2 mt-4">Desired Job Description</label>
          <textarea id="desiredRole" name="desired_role" rows="6" class="w-full p-2 border rounded-md"></textarea>

          <button type="submit" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md">Submit</button>
        </form>
      </div>

      <!-- Add an image on the right side -->
      <div class="md:w-1/2 md:flex items-center justify-center">
        <img src="{% static 'D:\Code\Python\Django-projects\Resume Builder\resume_builder\static\resume_app\img\career.jpg' %}" alt="Relevant Image" class="w-full h-auto">
      </div>
    </div>

    <div class="md:w-1/2">
      <label for="editedCV" class="block text-lg font-semibold mb-2">Edited CV/Resume</label>
      <textarea id="editedCV" name="editedCV" rows="12" class="w-full p-2 border rounded-md">{{ combined_text }}</textarea>
      <a href="{% url 'download_cv' %}" class="mt-4 px-4 py-2 bg-green-500 text-white rounded-md">Download</a>
      <button type="button" class="px-4 py-2 bg-gray-800 text-white rounded-md">Regenerate</button>
    </div>
  </div>
{% endblock %}

